@import "../../css/colors.css";
@import "../../css/z-index.css";

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 499;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}

.container {
  background-color: rgba(255, 255, 255, .35);  
  backdrop-filter: blur(5px);
  width: 70%;
  height: 70%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .45);   
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
}

.closeBox {
  position: absolute;
  right: 5px;
  margin: 10px;

  font-size: 1.1rem;
  color: #3e3e3e;

  cursor: pointer;
  z-index: 3;
}

.view {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%; left: 50%;

  color: #3e3e3e;
  transform: translate(-50%, -50%);
}